{% extends 'base.html.twig' %}

{% block body %}
    <h1>Morales list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Sigle</th>
                <th>Raisonsociale</th>
                <th>Datecreation</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Pays</th>
                <th>Ville</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for morale in morales %}
            <tr>
                <td><a href="{{ path('morale_show', { 'id': morale.id }) }}">{{ morale.id }}</a></td>
                <td>{{ morale.sigle }}</td>
                <td>{{ morale.raisonSociale }}</td>
                <td>{% if morale.dateCreation %}{{ morale.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ morale.email }}</td>
                <td>{{ morale.telephone }}</td>
                <td>{{ morale.pays }}</td>
                <td>{{ morale.ville }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('morale_show', { 'id': morale.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('morale_edit', { 'id': morale.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('morale_new') }}">Create a new morale</a>
        </li>
    </ul>
{% endblock %}
