{% extends 'base.html.twig' %}

{% block body %}
    <h1>Morale</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ morale.id }}</td>
            </tr>
            <tr>
                <th>Sigle</th>
                <td>{{ morale.sigle }}</td>
            </tr>
            <tr>
                <th>Raisonsociale</th>
                <td>{{ morale.raisonSociale }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{% if morale.dateCreation %}{{ morale.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ morale.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ morale.telephone }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ morale.pays }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ morale.ville }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('morale_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('morale_edit', { 'id': morale.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
