{% extends 'base.html.twig' %}

{% block content %}
    <style>
       {# #datedelivrance
       {
           display:none;
       }
       #datdeclaration
       {
           display:none;
       } #}

    </style>
    <div class="container">
            <h1>Pièces</h1>
            <hr></hr>
                <div class="col">
                    {{ form_start(form,{'action': path('piece_new')}) }}
                        {# {{ form_widget(form) }} #}
                        <div class="my-custom-class-for-errors">
                            {{ form_errors(form) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.typePiece, { 'label': 'Type Piece'})}}
                        </div>
                        <div class="form-group">
                            <div id="refPiece">
                                {{ form_row(form.refPiece, { 'label': 'N° Pièce'})}}
                            </div>
                        </div>                
                        <div class="form-group">
                            <div id="datexpiration">
                                {{ form_row(form.datexpiration, { 'label': 'Date d\'expiration'})}}
                           </div>
                        </div>
                        <div class="form-group">
                            <div id="datdeclaration">
                                {{ form_row(form.datdeclaration, { 'label': 'Date de déclaration'})}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="datedelivrance">
                                {{ form_row(form.datedelivrance, { 'label': 'Date de délivrance'})}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="emetteur">
                                {{ form_row(form.emetteur, { 'label': 'Emetteur'})}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="paysEmission">
                                {{ form_row(form.paysEmission, { 'label': 'Pays d\'émission'})}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="physique">
                                {{ form_row(form.physique, { 'label': 'Nom', 'attr': {'class': 'form-control'} } )}}
                            </div>
                        </div>
                            <div id="fichier">
                        
                                {{ form_row(form.fichier, { 'label': 'Fichier', 'attr': {'class': 'form-control'} } )}}
                            </div>
                        <input type="submit" class="btn btn-outline-info" value="Enregister" />
                    {{ form_end(form) }}
                </div>
    </div>
{% endblock %}

