{% extends 'base.html.twig' %}

{% block content %}
    <style>
        body
        {
            font-family: Georgia, 'Times New Roman', Times, serif;
            /*margin-top:30px;*/
        }
     {# .formulaire 
    {
        color: black;
        margin-top:5%;
        margin-left:11%;
        width:80%;
        border:solid white 1px;
    } #}
    h1
    {
        color:teal;
        font-weight:bold;
        }
    </style>
    <h1>Piece n° : {{ piece.id }}</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Type Pièce:</th>
                <td>{{ piece.typePiece }}</td>
            </tr>
        
            <tr>
                <th>N° Pièce:</th>
                <td>{{ piece.refPiece }}</td>
            </tr>
            <tr>
                <th>Expire le:</th>
                <td>{% if piece.datexpiration %}{{ piece.datexpiration|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Déclaré le:</th>
                <td>{% if piece.datdeclaration %}{{ piece.datdeclaration|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Délivré(e) le:</th>
                <td>{% if piece.datedelivrance %}{{ piece.datedelivrance|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Emetteur:</th>
                <td>{{ piece.emetteur }}</td>
            </tr>
            <tr>
                <th>Lieu:</th>
                <td>{{ piece.paysEmission }}</td>
            </tr>
             <tr>
                <th>Nom:</th>
                <td>{{ piece.physique }}</td>
            </tr>
             <tr>
                <th>Fichier:</th>
                <td><a href="{{ asset('uploads/brochures/' ~ piece.fichier) }}" style="color:skyblue">{{ piece.fichier }}</a></td>
            </tr>
        </tbody>
    </table>
        {# <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li> #}

{% endblock %}
