 {% extends 'base.html.twig' %}

{% block content %}

{# <div class="modal"> #}
    {#<div class="modal-content">#}
        {# {{ form_start(form) }} #}
        {# {{form_row(form.id)}} #}
        {# {{form_row(form.Rechercher)}} #}
        {# <input type="submit" class="btn btn-primary" value="Enregistrer"/> #}
        {# {{ form_end(form) }} #}
    {#</div>#}
{# </div> #}
{# <div>
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_widget(form.search, { 'attr': {'class': 'form-control'} }) }}
                {{ form_widget(form.send, { 'attr': {'class': 'btn btn-default'} }) }}
            </div>
 
        {{ form_rest(form) }}
        {{ form_end(form) }}
</div> #}
{{ form(form) }}
{% endblock %} 