{% extends 'base.html.twig' %}

{% block content %}
<style>
        body
            {
                font-family: Georgia, 'Times New Roman', Times, serif;
                /*margin-top:30px;*/
            }
        .sidebar
            {
                background-color: teal;
                width: 100%;
                top: 0;
                left: 0;
                padding:1%;
                position:absolute;
            }
        a
            {
                color: white;
                text-decoration: none;
            }
        a:hover
            {
                color:white;
                text-decoration:none;
            }
        .accueil
            {
                color:white;
                font-size:1.7rem;
            }
        #ouvrir
            {
                margin-left:80%;
                font-size:1.2rem;
            }
        #mineur
            {
                display:none;
            }
        #tuteur 
            {
                display:none;
            }
        #prenom_tuteur 
            {
                display:none;
            }
         {# .formulaire 
        {
            color: black;
            margin-top:5%;
            margin-left:11%;
            width:80%;
            border:solid white 1px;
        } #}
    
        #grad1 {
       
            margin-top:10%;
        }
        .card {
            margin-top:10%;
            width:100%;
            z-index: 0;
            position: relative;
        }
        #form {
            text-align: center;
            position: relative;
            margin-top: 35px
        }
       
        #form fieldset .form-card {
            background: white;
            box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.2);
            padding: 12px 15px 12px 15px;
            width: 95%;
            margin: 5px 2% 20px 3%;
            text-align: left;
            position: relative
        }

        #form fieldset {
            background: white;
            border-radius: 0.5rem;
            box-sizing: border-box;
            width: 95%;
            margin-left:1%;
            margin-top:6%;
            padding-bottom: 20px;
            position: relative
        }

         #form fieldset:not(:first-of-type) {
            display: none
        }

        #form input {
            margin-bottom: 13px;
            margin-top: 2px;
        }
        #enregistrer
        {
            margin-left:85%;
        }
        .fit-image {
            width: 100%;
            object-fit: cover
        }
</style>
    
<h1></h1>
        
{% block sidebar %}
    <div class="sidebar">
        <a href="{{path('path_home')}}" class="accueil">Accueil</a>
        <a href="{{ path('path_choix')}}" id="ouvrir">Ouvrir un compte</a>
    </div>
{% endblock %}
    <div class="container" id="grad1">
            {{ form_start(form,{'attr':{'id':"form"}}) }}
                <fieldset>
                <h1>Formulaire d'inscription</h1>
                    <div class="form-card">
                        {% if form.nom is defined %}
                            <div id="mineur">
                                {{ form_row(form.mineur)}}
                            </div>
                        {% endif %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {% if form.nom is defined %}
                                    {{form_row(form.nom)}}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-6">
                                {% if form.prenom is defined %}
                                    {{form_row(form.prenom)}}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">    
                                {% if form.sigle is defined %}   
                                    {{form_row(form.sigle)}}
                                {% endif %}
                            </div>
                            <div class="form-group col-md-6">
                                {% if form.raisonSociale is defined %}
                                    {{form_row(form.raisonSociale)}}
                                {% endif %}
                            </div>
                        </div>                                
                        <div class="form-row">
                            <div class="form-group col-md-6">
                             {% if form.nom is defined %}
                                {{ form_row(form.datnais, { 'label': 'Date de naissance'})}}
                             {% else %}
                             {{ form_row(form.datnais, { 'label': 'Date de création'})}}
                            {% endif %}
                                <p id="reponse"></p>
                            </div>
                            <div class="form-group col-md-6">
                                {{ form_row(form.telephone)}}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_row(form.email)}}
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ form_row(form.pays)}}
                            </div>
                            <div class="form-group col-md-6">
                                {{ form_row(form.ville)}}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <div id="tuteur">
                                    {% if form.tuteur is defined %}
                                        {{form_row(form.tuteur)}}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div id="prenom_tuteur">
                                    {% if form.prenomTuteur is defined %}
                                        {{form_row(form.prenomTuteur)}}
                                    {% endif %}
                                </div>
                            </div>
                        </div> 
                    </div>                                                     
                      <input type="submit" class="btn btn-outline-success next action-button" id="enregistrer" value="Enregister">
                </fieldset>
                 <fieldset>
                    <div class="form-card form-card-message">
                            <div class="row justify-content-center">
                                <div class="col-3"> <img src="https://img.icons8.com/color/96/000000/ok--v2.png" class="fit-image"> </div>
                            </div> <br><br>
                            <div class="row justify-content-center">
                                <div class="col-7 text-center">
                                    <h5>Compte enregistré avec succès!</h5><br>
                                    <center>Merci !</center>                            
                                </div>
                            </div>
                    </div>
                {# <a href="{{ path('physique_show') }}" class="btn btn-info">Voir mes Informations</a>                                                                                 #}
                </fieldset>
            {{ form_end(form) }} 
    </div>
{% endblock %}

{% block javascripts %}
    {{parent() }}
        <script>
            $(document).ready(function(){
                $("#enregistrer").click(function(e)
                {
                    e.preventDefault();
                   var current_fs=$(this).parent();
                   var next_fs = $(this).parent().next();
                    var mineur= $("#physiquebundle_physique_mineur").val();
                    var nom= $("#physiquebundle_physique_nom").val();
                    var prenom= $("#physiquebundle_physique_prenom").val();
                    var sigle=$("#physiquebundle_physique_sigle").val();
                    var raisonSociale=$("#physiquebundle_physique_raisonSociale").val();
                    var datnais= $("#physiquebundle_physique_datnais").val();
                    var telephone=$("#physiquebundle_physique_telephone").val();
                    var email= $("#physiquebundle_physique_email").val();
                    var pays= $("#physiquebundle_physique_pays").val();
                    var ville= $("#physiquebundle_physique_ville").val();
                    var tuteur= $("#physiquebundle_physique_tuteur").val();
                    var prenomTuteur= $("#physiquebundle_physique_prenomTuteur").val();
                    if(nom=="" || prenom=="" || sigle=="" || raisonSociale=="" || datnais=="" || telephone=="" || email=="" || pays=="" ||
                        ville=="")
                        {
                            alert('Veuillez remplir tous les champs');
                        }
                    else 
                    {
                            
                    $.ajax(
                        {
                            method:'post',
                            url:'physique_new',
                            data: {
                                physiquebundle_physique_mineur:mineur,
                                physiquebundle_physique_nom:nom,
                                physiquebundle_physique_prenom:prenom,
                                physiquebundle_physique_sigle:sigle,
                                physiquebundle_physique_raisonSociale:raisonSociale,
                                physiquebundle_physique_datnais:datnais,
                                physiquebundle_physique_telephone:telephone,
                                physiquebundle_physique_email:email,
                                physiquebundle_physique_pays:pays,
                                physiquebundle_physique_ville:ville,
                                physiquebundle_physique_tuteur:tuteur,
                                physiquebundle_physique_prenomTuteur:prenomTuteur

                            },
                            success: function(data){
                                console.log(data);
                                if(data.code == 400){
                                    console.log(data)
                                    alert(data.message)
                                }
                                else if(data.code == 600)
                                {
                                    console.log(data)
                                    alert(data.message)
                                }
                                else
                                {
                                    console.log(data)
                                    next_fs.show();
                                    current_fs.animate({opacity: 0}, {
                                    step: function(now) {
                                    
                                    opacity = 1 - now;

                                    current_fs.css({
                                        'display': 'none',
                                        'position': 'relative'
                                    });
                                    next_fs.css({'opacity': opacity});
                                    },
                                    duration: 600
                                });
                                }
                            }
                        })
                    }
                });
            });
    
        </script>
{% endblock %}
