{% extends 'base.html.twig' %}

{% block content %}
<style>
        body
            {
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
        .sidebar
            {
                background-color: teal;
                width: 100%;
                top: 0;
                left: 0;
                padding:1%;
                position:absolute;
            }
        a
            {
                color: white;
                text-decoration: none;
            }
        a:hover
        {
            color:white;
            text-decoration:none;
        }
        .accueil
        {
            color:white;
            font-size:1.7rem;
        }
        .formulaire 
        {
            color: black;
            margin-top:8%;
            margin-left:11%;
            width:80%;
            border:solid white 1px;
        }
        #ouvrir
        {
            margin-left:80%;
            font-size:1.2rem;
        }
        #index
        {
            color: white;
            margin-left:94%;
        }
        .index:hover{
            color:black;
        }
</style>
    
<h1></h1>
        
{% block sidebar %}
    <div class="sidebar">
        <a href="{{path('path_home')}}" class="accueil">Accueil</a>
        <a href="{{ path('path_choix')}}" id="ouvrir">Ouvrir un compte</a>
    </div>
{% endblock %}
<div class="formulaire">
    <a href="{{ path('physique_index') }}"class="btn btn-primary" id="index">Liste</a>
    {{ form_start(form) }}
    {% if form.typeCompte is defined %}
        {{form_row(form.typeCompte)}}
        {% endif %}
       <div class="form-row">
        <div class="form-group col-md-6">
        {% if form.nom is defined %}
        {{form_row(form.nom)}}
        {% endif %}
        </div>
        <div class="form-group col-md-6">
        {% if form.prenom is defined %}
        {{form_row(form.prenom)}}
        {% endif %}
        </div>
        </div>
        <div class="form-row">
        <div class="form-group col-md-6">
        {% if form.sigle is defined %}
        {{form_row(form.sigle)}}
        {% endif %}
        </div>
        <div class="form-group col-md-6">
         {% if form.raisonSociale is defined %}
        {{form_row(form.raisonSociale)}}
        {% endif %}
        </div>
        </div>
        <div class="form-row">
        <div class="form-group col-md-6">
        {{ form_row(form.datnais)}}
        </div>
        <div class="form-group col-md-6">
        {{ form_row(form.telephone)}}
        </div>
        </div>
        <div class="form-group">
        {{ form_row(form.email)}}
        </div>
        <div class="form-row">
        <div class="form-group col-md-6">
        {{ form_row(form.pays)}}
        </div>
        <div class="form-group col-md-6">
        {{ form_row(form.ville)}}
        </div>
        </div>
        <div class="form-row">
        <div class="form-group col-md-6">
         {% if form.tuteur is defined %}
        {{form_row(form.tuteur)}}
        {% endif %}
        </div>
        <div class="form-group col-md-6">
        {% if form.prenomTuteur is defined %}
        {{form_row(form.prenomTuteur)}}
        {% endif %}
        </div>
        </div>
         
        <input type="submit" class="btn btn-primary" value="Enregistrer"/>
        {{ form_end(form) }}
    </div>
{% endblock %}
