{% extends 'base.html.twig' %}

{% block content %}
<style>
        body
            {
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
        .sidebar
            {
                background-color: teal;
                width: 100%;
                top: 0;
                left: 0;
                padding:1%;
                position:absolute;
            }
        a
            {
                color: white;
                text-decoration: none;
            }
        a:hover
        {
            color:white;
            text-decoration:none;
        }
        .accueil
        {
            color:white;
            font-size:1.7rem;
        }
        .formulaire 
        {
            color: black;
            margin-top:11%;
            margin-left:37%;
            padding-left:3%;
            padding-top:1%;
            padding-right:2%;
            padding-bottom:1%;
            width:25%;
        }
        .ouvrir
        {
            margin-left:77%;
            font-size:1rem;
        }
</style>
    
<h1></h1>
        
{% block sidebar %}
    <div class="sidebar">
        <a href="{{path('path_home')}}" class="accueil">Accueil</a>
        <a href="{{ path('path_choix')}}" class="ouvrir">Ouvrir un compte</a>
    </div>
{% endblock %}
<div class="formulaire">
    {{ form_start(form) }}
        {{form(form)}}
        <input type="submit" value="Enregistrer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('physique_index') }}">Index</a>
        </li>
    </ul>
    </div>
{% endblock %}
