<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered" id="tableau">
        <tbody id="body">
        {% for physique in physiques %}
            <tr>
                <th scope="row"><a href="{{ path('physique_show', { 'id': physique.id }) }}">{{ physique.id }}</a></th>
                <td>{{ physique.nom }}</td>
                <td>{{ physique.prenom }}</td>
                <td>{{ physique.sigle }}</td>
                <td>{{ physique.raisonSociale }}</td>
                <td>{% if physique.datnais %}{{ physique.datnais|date('Y-m-d') }}{% endif %}</td>
                <td>{{ physique.telephone }}</td>
                <td>{{ physique.email }}</td>
                <td>{{ physique.pays }}</td>
                <td>{{ physique.ville }}</td>
                <td>{{ physique.tuteur }}</td>
                <td>{{ physique.prenomTuteur }}</td>
                <td>
                            <a href="{{ path('physique_show', { 'id': physique.id }) }}" class="btn btn-info" style="color:white">Voir</a>
                            {% if physique.nom is null %}
                            <a href="{{ path('physique_edit', { 'id': physique.id, 'slug':2 }) }}"class="btn btn-primary" style="margin-top:1%;color:white">Edit</a>
                            {% else %}
                            <a href="{{ path('physique_edit', { 'id': physique.id, 'slug':1 }) }}"class="btn btn-primary" style="margin-top:1%;color:white">Edit</a>
                            {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>